REMOTE_UNLOCK_BROKER_URL="{{ remote_unlock_broker_url }}"
REMOTE_UNLOCK_CHALLENGE_PATH="{{ remote_unlock_challenge_path }}"
REMOTE_UNLOCK_UNLOCK_PATH="{{ remote_unlock_unlock_path }}"
REMOTE_UNLOCK_TIMEOUT_SECONDS="{{ remote_unlock_timeout_seconds }}"
REMOTE_UNLOCK_RETRY_INTERVAL_SECONDS="{{ remote_unlock_retry_interval_seconds }}"
REMOTE_UNLOCK_BOOT_RETRY_WINDOW_SECONDS="{{ remote_unlock_boot_retry_window_seconds }}"
REMOTE_UNLOCK_DEVICE_ID="{{ remote_unlock_device_id }}"
REMOTE_UNLOCK_TRANSPORT_MODE="{{ remote_unlock_transport_mode }}"
REMOTE_UNLOCK_WG_INTERFACE="{{ remote_unlock_wg_interface }}"
REMOTE_UNLOCK_MANAGEMENT_INTERFACE="{{ remote_unlock_management_interface }}"
REMOTE_UNLOCK_UPLINK_INTERFACE="{{ remote_unlock_uplink_interface }}"
REMOTE_UNLOCK_GATEWAY_IP="{{ remote_unlock_gateway_ip }}"
REMOTE_UNLOCK_LUKS_DEVICE="{{ remote_unlock_luks_device_effective | default(remote_unlock_luks_device) }}"
REMOTE_UNLOCK_MAPPER_NAME="{{ remote_unlock_mapper_name }}"
REMOTE_UNLOCK_MOUNTPOINT="{{ remote_unlock_mountpoint }}"
REMOTE_UNLOCK_PCRS="{{ remote_unlock_pcrs }}"
REMOTE_UNLOCK_CERT_DIR="{{ remote_unlock_cert_dir }}"
REMOTE_UNLOCK_TPM_DIR="{{ remote_unlock_tpm_dir }}"
REMOTE_UNLOCK_TPM_AK_HANDLE="{{ remote_unlock_tpm_ak_handle }}"
REMOTE_UNLOCK_GATEWAY_AUDIT="{{ 'true' if remote_unlock_gateway_audit else 'false' }}"
REMOTE_UNLOCK_MANUAL_PASSPHRASE="{{ remote_unlock_manual_passphrase }}"
