[Unit]
Description=Cascadya Installer Boot Diagnostics
DefaultDependencies=no
After=systemd-journald.socket systemd-udevd.service local-fs-pre.target
Before=local-fs.target
ConditionPathExists=/etc/fstab

[Service]
Type=oneshot
ExecStart=/usr/local/bin/install-boot-debug.sh
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
