AUTH_PROTO_APP_NAME="{{ control_panel_app_name }}"
AUTH_PROTO_SESSION_SECRET="{{ control_panel_session_secret }}"
AUTH_PROTO_SESSION_COOKIE={{ control_panel_session_cookie_name }}
AUTH_PROTO_SECURE_COOKIES={{ 'true' if control_panel_secure_cookies else 'false' }}
AUTH_PROTO_SAMESITE={{ control_panel_same_site }}
AUTH_PROTO_SESSION_TTL_SECONDS={{ control_panel_session_ttl_seconds }}
AUTH_PROTO_TRUSTED_HOSTS={{ control_panel_trusted_hosts | join(',') }}
AUTH_PROTO_DATABASE_URL=postgresql+psycopg://{{ control_panel_database_user }}:{{ control_panel_database_password | urlencode }}@127.0.0.1:{{ control_panel_database_port }}/{{ control_panel_database_name }}
AUTH_PROTO_DATABASE_ECHO={{ 'true' if control_panel_database_echo else 'false' }}
AUTH_PROTO_PUBLIC_BASE_URL=https://{{ control_panel_domain }}
AUTH_PROTO_WAZUH_DASHBOARD_URL={{ control_panel_wazuh_dashboard_url | default('') }}
AUTH_PROTO_WAZUH_ALERTS_INDEXER_URL={{ control_panel_wazuh_alerts_indexer_url | default('') }}
AUTH_PROTO_WAZUH_ALERTS_INDEXER_USERNAME={{ control_panel_wazuh_alerts_indexer_username | default('') }}
AUTH_PROTO_WAZUH_ALERTS_INDEXER_PASSWORD={{ control_panel_wazuh_alerts_indexer_password | default('') }}
AUTH_PROTO_WAZUH_ALERTS_INDEX_PATTERN={{ control_panel_wazuh_alerts_index_pattern | default('wazuh-alerts-*') }}
AUTH_PROTO_WAZUH_ALERTS_VERIFY_TLS={{ 'true' if (control_panel_wazuh_alerts_verify_tls | default(true)) else 'false' }}
AUTH_PROTO_WAZUH_ALERTS_CA_CERT_PATH={{ control_panel_wazuh_alerts_ca_cert_path | default('') }}
AUTH_PROTO_WAZUH_ALERTS_PAGE_SIZE={{ control_panel_wazuh_alerts_page_size | default(25) }}
AUTH_PROTO_WAZUH_ALERTS_MIN_RULE_LEVEL={{ control_panel_wazuh_alerts_min_rule_level | default(3) }}
AUTH_PROTO_WAZUH_ALERTS_TIMEOUT_SECONDS={{ control_panel_wazuh_alerts_timeout_seconds | default(10) }}
AUTH_PROTO_OIDC_ENABLED={{ 'true' if control_panel_oidc_enabled else 'false' }}
AUTH_PROTO_ENABLE_LEGACY_LOGIN={{ 'true' if control_panel_enable_legacy_login else 'false' }}
AUTH_PROTO_OIDC_ISSUER_URL=https://{{ keycloak_domain }}/realms/{{ keycloak_realm }}
AUTH_PROTO_OIDC_DISCOVERY_URL=http://127.0.0.1:{{ keycloak_http_port }}/realms/{{ keycloak_realm }}/.well-known/openid-configuration
AUTH_PROTO_OIDC_INTERNAL_BASE_URL=http://127.0.0.1:{{ keycloak_http_port }}
AUTH_PROTO_OIDC_VERIFY_TLS={{ 'true' if control_panel_oidc_verify_tls else 'false' }}
AUTH_PROTO_OIDC_CLIENT_ID={{ keycloak_client_id }}
AUTH_PROTO_OIDC_CLIENT_SECRET={{ keycloak_client_secret }}
AUTH_PROTO_OIDC_SCOPES={{ control_panel_oidc_scopes | join(',') }}
AUTH_PROTO_KEYCLOAK_ADMIN_BASE_URL=http://127.0.0.1:{{ keycloak_http_port }}
AUTH_PROTO_KEYCLOAK_ADMIN_REALM=master
AUTH_PROTO_KEYCLOAK_ADMIN_USERNAME={{ keycloak_admin_username }}
AUTH_PROTO_KEYCLOAK_ADMIN_PASSWORD={{ keycloak_admin_password }}
AUTH_PROTO_KEYCLOAK_MANAGED_REALM={{ keycloak_realm }}
AUTH_PROTO_BOOTSTRAP_ADMIN_EMAILS={{ control_panel_bootstrap_admin_emails | join(',') }}
AUTH_PROTO_JIT_DEFAULT_ROLES={{ control_panel_jit_default_roles | join(',') }}
AUTH_PROTO_PROVISIONING_PLAYBOOK_ROOT={{ control_panel_provisioning_playbook_root | default('') }}
AUTH_PROTO_PROVISIONING_DEFAULT_PLAYBOOK={{ control_panel_provisioning_default_playbook | default('full-ipc-wireguard-onboarding') }}
AUTH_PROTO_PROVISIONING_EXECUTION_MODE={{ control_panel_provisioning_execution_mode | default('mock') }}
AUTH_PROTO_PROVISIONING_SSH_KEY_PATH={{ control_panel_provisioning_ssh_key_path | default('') }}
AUTH_PROTO_PROVISIONING_SSH_KEY_PASSPHRASE={{ control_panel_provisioning_ssh_key_passphrase | default('') }}
AUTH_PROTO_PROVISIONING_SSH_PASSWORD={{ control_panel_provisioning_ssh_password | default('') }}
AUTH_PROTO_PROVISIONING_BECOME_PASSWORD={{ control_panel_provisioning_become_password | default('') }}
AUTH_PROTO_PROVISIONING_STEP_TIMEOUT_SECONDS={{ control_panel_provisioning_step_timeout_seconds | default(900) }}
AUTH_PROTO_PROVISIONING_REMOTE_UNLOCK_BROKER_URL_DEFAULT={{ control_panel_provisioning_remote_unlock_broker_url_default | default('') }}
AUTH_PROTO_PROVISIONING_REMOTE_UNLOCK_BROKER_INVENTORY_HOSTNAME={{ control_panel_provisioning_remote_unlock_broker_inventory_hostname | default('') }}
AUTH_PROTO_PROVISIONING_REMOTE_UNLOCK_BROKER_ANSIBLE_HOST={{ control_panel_provisioning_remote_unlock_broker_ansible_host | default('') }}
AUTH_PROTO_PROVISIONING_REMOTE_UNLOCK_BROKER_ANSIBLE_USER={{ control_panel_provisioning_remote_unlock_broker_ansible_user | default('') }}
AUTH_PROTO_PROVISIONING_REMOTE_UNLOCK_BROKER_ANSIBLE_PORT={{ control_panel_provisioning_remote_unlock_broker_ansible_port | default(22) }}
AUTH_PROTO_PROVISIONING_REMOTE_UNLOCK_BROKER_SSH_KEY_PATH={{ control_panel_provisioning_remote_unlock_broker_ssh_key_path | default('') }}
AUTH_PROTO_PROVISIONING_REMOTE_UNLOCK_BROKER_SSH_KEY_PASSPHRASE={{ control_panel_provisioning_remote_unlock_broker_ssh_key_passphrase | default('') }}
AUTH_PROTO_PROVISIONING_REMOTE_UNLOCK_BROKER_SSH_PASSWORD={{ control_panel_provisioning_remote_unlock_broker_ssh_password | default('') }}
AUTH_PROTO_PROVISIONING_REMOTE_UNLOCK_BROKER_BECOME_PASSWORD={{ control_panel_provisioning_remote_unlock_broker_become_password | default('') }}
AUTH_PROTO_PROVISIONING_REMOTE_UNLOCK_BROKER_WIREGUARD_INTERFACE={{ control_panel_provisioning_remote_unlock_broker_wireguard_interface | default('wg0') }}
AUTH_PROTO_PROVISIONING_REMOTE_UNLOCK_BROKER_WIREGUARD_ADDRESS={{ control_panel_provisioning_remote_unlock_broker_wireguard_address | default('') }}
AUTH_PROTO_PROVISIONING_REMOTE_UNLOCK_BROKER_WIREGUARD_LISTEN_PORT={{ control_panel_provisioning_remote_unlock_broker_wireguard_listen_port | default(51820) }}
AUTH_PROTO_PROVISIONING_REMOTE_UNLOCK_BROKER_PROBE_PORT={{ control_panel_provisioning_remote_unlock_broker_probe_port | default(9443) }}
AUTH_PROTO_PROVISIONING_REMOTE_UNLOCK_BROKER_PROBE_URL_DEFAULT={{ control_panel_provisioning_remote_unlock_broker_probe_url_default | default('') }}
AUTH_PROTO_PROVISIONING_REMOTE_UNLOCK_BROKER_PROBE_TOKEN={{ control_panel_provisioning_remote_unlock_broker_probe_token | default('') }}
AUTH_PROTO_PROVISIONING_REMOTE_UNLOCK_BROKER_PROBE_CA_CERT_PATH={{ control_panel_provisioning_remote_unlock_broker_probe_ca_cert_path | default('') }}
AUTH_PROTO_PROVISIONING_REMOTE_UNLOCK_BROKER_VAULT_ADDR={{ control_panel_provisioning_remote_unlock_broker_vault_addr | default('') }}
AUTH_PROTO_PROVISIONING_REMOTE_UNLOCK_BROKER_VAULT_TOKEN={{ control_panel_provisioning_remote_unlock_broker_vault_token | default('') }}
AUTH_PROTO_PROVISIONING_REMOTE_UNLOCK_BROKER_VAULT_KV_MOUNT={{ control_panel_provisioning_remote_unlock_broker_vault_kv_mount | default('secret') }}
AUTH_PROTO_PROVISIONING_REMOTE_UNLOCK_BROKER_VAULT_KV_PREFIX={{ control_panel_provisioning_remote_unlock_broker_vault_kv_prefix | default('remote-unlock') }}
AUTH_PROTO_PROVISIONING_WIREGUARD_ENDPOINT_DEFAULT={{ control_panel_provisioning_wireguard_endpoint_default | default('') }}
AUTH_PROTO_PROVISIONING_WIREGUARD_PEER_PUBLIC_KEY_DEFAULT={{ control_panel_provisioning_wireguard_peer_public_key_default | default('') }}
AUTH_PROTO_PROVISIONING_AUTO_GENERATE_WIREGUARD_PRIVATE_KEY={{ 'true' if (control_panel_provisioning_auto_generate_wireguard_private_key | default(true)) else 'false' }}
AUTH_PROTO_PROVISIONING_WAZUH_MANAGER_ADDRESS_DEFAULT={{ control_panel_provisioning_wazuh_manager_address_default | default('') }}
AUTH_PROTO_PROVISIONING_WAZUH_MANAGER_PORT_DEFAULT={{ control_panel_provisioning_wazuh_manager_port_default | default(1514) }}
AUTH_PROTO_PROVISIONING_WAZUH_REGISTRATION_SERVER_DEFAULT={{ control_panel_provisioning_wazuh_registration_server_default | default('') }}
AUTH_PROTO_PROVISIONING_WAZUH_REGISTRATION_PORT_DEFAULT={{ control_panel_provisioning_wazuh_registration_port_default | default(1515) }}
AUTH_PROTO_PROVISIONING_WAZUH_AGENT_GROUP_DEFAULT={{ control_panel_provisioning_wazuh_agent_group_default | default('') }}
AUTH_PROTO_PROVISIONING_WAZUH_REGISTRATION_PASSWORD={{ control_panel_provisioning_wazuh_registration_password | default('') }}
AUTH_PROTO_PROVISIONING_WAZUH_REGISTRATION_CA_CERT_PATH={{ control_panel_provisioning_wazuh_registration_ca_cert_path | default('') }}
AUTH_PROTO_PROVISIONING_IPC_ALLOY_MIMIR_REMOTE_WRITE_URL_DEFAULT={{ control_panel_provisioning_ipc_alloy_mimir_remote_write_url_default | default('') }}
AUTH_PROTO_PROVISIONING_IPC_ALLOY_SCRAPE_INTERVAL_DEFAULT={{ control_panel_provisioning_ipc_alloy_scrape_interval_default | default('15s') }}
AUTH_PROTO_PROVISIONING_IPC_ALLOY_SCRAPE_TIMEOUT_DEFAULT={{ control_panel_provisioning_ipc_alloy_scrape_timeout_default | default('10s') }}
AUTH_PROTO_PROVISIONING_IPC_ALLOY_TENANT_DEFAULT={{ control_panel_provisioning_ipc_alloy_tenant_default | default('classic') }}
AUTH_PROTO_PROVISIONING_IPC_ALLOY_RETENTION_PROFILE_DEFAULT={{ control_panel_provisioning_ipc_alloy_retention_profile_default | default('classic') }}
AUTH_PROTO_PROVISIONING_IPC_ALLOY_MIMIR_USERNAME={{ control_panel_provisioning_ipc_alloy_mimir_username | default('') }}
AUTH_PROTO_PROVISIONING_IPC_ALLOY_MIMIR_PASSWORD={{ control_panel_provisioning_ipc_alloy_mimir_password | default('') }}
AUTH_PROTO_PROVISIONING_IPC_ALLOY_MIMIR_VERIFY_TLS={{ 'true' if (control_panel_provisioning_ipc_alloy_mimir_verify_tls | default(true)) else 'false' }}
AUTH_PROTO_PROVISIONING_IPC_ALLOY_MIMIR_CA_CERT_PATH={{ control_panel_provisioning_ipc_alloy_mimir_ca_cert_path | default('') }}
AUTH_PROTO_DISCOVERY_MODE={{ control_panel_discovery_mode | default('auto') }}
AUTH_PROTO_DISCOVERY_SSH_USERNAME={{ control_panel_discovery_ssh_username | default('cascadya') }}
AUTH_PROTO_DISCOVERY_SSH_PORT={{ control_panel_discovery_ssh_port | default(22) }}
AUTH_PROTO_DISCOVERY_SSH_KEY_PATH={{ control_panel_discovery_ssh_key_path | default('') }}
AUTH_PROTO_DISCOVERY_DOWNSTREAM_PROBE_IP={{ control_panel_discovery_downstream_probe_ip | default('') }}
AUTH_PROTO_DISCOVERY_CONNECT_TIMEOUT_SECONDS={{ control_panel_discovery_connect_timeout_seconds | default(5) }}
AUTH_PROTO_DISCOVERY_COMMAND_TIMEOUT_SECONDS={{ control_panel_discovery_command_timeout_seconds | default(15) }}
