KEYCLOAK_DB_NAME={{ keycloak_db_name }}
KEYCLOAK_DB_USER={{ keycloak_db_user }}
KEYCLOAK_DB_PASSWORD={{ keycloak_db_password }}
KEYCLOAK_DB_HOST_PORT={{ keycloak_db_port }}

KEYCLOAK_HTTP_PORT={{ keycloak_http_port }}
KEYCLOAK_PUBLIC_BASE_URL=https://{{ keycloak_domain }}

KEYCLOAK_ADMIN_USERNAME={{ keycloak_admin_username }}
KEYCLOAK_ADMIN_PASSWORD={{ keycloak_admin_password }}
