KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=change-me-before-use
KEYCLOAK_DB_HOST_PORT=5434

KEYCLOAK_HTTP_PORT=8081
KEYCLOAK_PUBLIC_BASE_URL=https://auth.cascadya.internal

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=change-me-before-use
