apiVersion: 1
providers:
  - name: 'Cascadya Dashboards'
    orgId: 1
    folder: 'SBC Plant'
    type: file
    disableDeletion: false
    updateIntervalSeconds: 10
    options:
      path: /var/lib/grafana/dashboards