apiVersion: 1

deleteDatasources:
  - name: "Prometheus"
  - name: "prometheus"

prune: true

datasources:
{% if monitoring_enable_postgresql_datasource %}
  - name: {{ grafana_postgresql_name | quote }}
    uid: {{ grafana_postgresql_uid | quote }}
    type: postgres
    access: proxy
    url: {{ grafana_postgresql_host | quote }}
    user: {{ grafana_postgresql_user | quote }}
    database: {{ grafana_postgresql_database | quote }}
    jsonData:
      sslmode: "disable"
      postgresVersion: 15
      timescaledb: true
    secureJsonData:
      password: $GRAFANA_POSTGRES_PASSWORD
    isDefault: true
    editable: false
{% endif %}

{% for tenant in mimir_tenants %}
{% if tenant.id == mimir_default_tenant or grafana_enable_mimir_tenant_datasources %}
  - name: {{ tenant.grafana_datasource_name | quote }}
    uid: {{ tenant.grafana_datasource_uid | quote }}
    type: prometheus
    access: proxy
    url: {{ grafana_mimir_datasource_url | quote }}
    jsonData:
      httpMethod: POST
      prometheusType: Mimir
      manageAlerts: false
      timeInterval: 10s
{% if mimir_enable_multitenancy %}
      httpHeaderName1: {{ grafana_mimir_tenant_header_name | quote }}
{% endif %}
{% if mimir_enable_multitenancy %}
    secureJsonData:
      httpHeaderValue1: {{ tenant.id | quote }}
{% endif %}
    isDefault: {{ ((tenant.id == mimir_default_tenant) and (not monitoring_enable_postgresql_datasource)) | lower }}
    editable: false
{% endif %}
{% endfor %}

  - name: {{ grafana_loki_name | quote }}
    uid: {{ grafana_loki_uid | quote }}
    type: loki
    access: proxy
    url: {{ grafana_loki_datasource_url | quote }}
    editable: false

{% if monitoring_enable_infinity_datasource %}
  - name: {{ grafana_infinity_name | quote }}
    uid: {{ grafana_infinity_uid | quote }}
    type: yesoreyeram-infinity-datasource
    access: proxy
    url: {{ grafana_infinity_url | quote }}
    jsonData:
      keepCookies: []
      timeInterval: "1m"
      tlsSkipVerify: true
    isDefault: false
    editable: true
{% endif %}
