APP_NAME=Cascadya Features
APP_HOST={{ features_bind_host }}
APP_PORT={{ features_port }}
FEATURES_KEYS_DATABASE_URL={{ features_keys_database_url }}
FEATURES_KEYS_SQL={{ features_keys_sql }}
FEATURES_KEYS_FILE_PATH={{ features_keys_file_path }}
{% for key, value in (features_extra_env | default({})).items() %}
{{ key }}={{ value }}
{% endfor %}
