[cascadya_ipc]
cascadya ansible_host=192.168.50.1 ansible_user=cascadya ansible_ssh_transfer_method=piped ansible_ssh_common_args='-o PreferredAuthentications=password -o PubkeyAuthentication=no -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ControlMaster=no -o ControlPersist=no' remote_unlock_device_id=cascadya remote_unlock_transport_mode=wireguard remote_unlock_manage_wireguard=true remote_unlock_broker_url=https://10.30.0.1:8443 remote_unlock_management_interface=enp3s0 remote_unlock_uplink_interface=enp2s0 remote_unlock_gateway_ip=192.168.10.1 remote_unlock_wg_interface=wg0 network_bootstrap_nameservers=["1.1.1.1","8.8.8.8"] network_wireguard_address=10.30.0.10/32 network_wireguard_private_key=REPLACE_DEVICE_PRIVATE_KEY network_wireguard_peer_public_key=REPLACE_BROKER_PUBLIC_KEY network_wireguard_endpoint=51.15.64.139:51820 network_wireguard_allowed_ips=["10.30.0.1/32"]
