[remote_unlock_broker]
broker-DEV1-S ansible_host=51.15.64.139 ansible_user=ubuntu ansible_ssh_transfer_method=piped remote_unlock_broker_bind_port=8443 remote_unlock_broker_publish_address=10.30.0.1 remote_unlock_broker_vault_addr=http://51.15.36.65:8200 remote_unlock_broker_vault_kv_mount=secret remote_unlock_broker_vault_kv_prefix=remote-unlock remote_unlock_broker_wireguard_interface=wg0 remote_unlock_broker_wireguard_address=10.30.0.1/24 remote_unlock_broker_wireguard_listen_port=51820 remote_unlock_broker_wireguard_peer_public_key=REPLACE_IPC_PUBLIC_KEY remote_unlock_broker_wireguard_peer_allowed_ips=["10.30.0.10/32"]
