[Unit]
Description=Cascadya Edge Agent (MQTT/Modbus)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/cascadya-agent
ExecStart=/opt/cascadya-agent/venv/bin/python3 -m agent.main
Restart=always
RestartSec=10

# --- CONFIGURATION INDISPENSABLE POUR LA DÉMO ---
Environment=LOG_LEVEL=INFO
Environment=SITE_ID=site-demo-d
Environment=MQTT_HOST=vm-broker.cascadya.local
Environment=MQTT_PORT=8883
# Chemins correspondants à l'endroit où Ansible va copier les fichiers
Environment=MQTT_CA_PATH=/etc/cascadya/certs/ca-chain.crt
Environment=MQTT_CERT_PATH=/etc/cascadya/certs/device-fullchain.crt
Environment=MQTT_KEY_PATH=/etc/cascadya/certs/device.key
# Adresse du simulateur Modbus selon le plan d'adressage
Environment=MODBUS_HOST=192.168.50.1
Environment=MODBUS_PORT=502

[Install]
WantedBy=multi-user.target